<section class="block block-testimonial">
    <div class="container grid grid--1x2">
        <img src="images/illustration-1.svg" alt="" class="block-testimonial__image" />
        <div class="block-testimonial__content">
            <header class="block__header">
                <h2 class="block__heading">Heading</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, dolorum.</p>
            </header>
            <a href="#" class="link">
                <span class="link__text">See how Fylo works</span>
                <svg class="icon icon--secondary">
                    <use xlink:href="images/sprites.svg#icon-arrow"></use>
                </svg>
            </a>
            <article class="card testimonial">
                <svg class="icon icon--small">
                    <use xlink:href="images/sprites.svg#icon-quotes"></use>
                </svg>
                <p class="testimonial__quote">
                    Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled
                    collaboration machine.
                </p>
                <div class="media">
                    <img src="/images/avatar-testimonial.jpg" alt="An image of Kyle Burton" class="media__image" />
                    <div class="media__body">
                        <h3 class="media__title">Kyle Burton</h3>
                        <p class="media__text">Founder & CEO, Huddle</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
