<section class="block callout">
    <div class="container grid grid--1x2">
        <header class="block__header">
            <h2 class="block__heading">Heading</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, dolorum.</p>
        </header>
        <form action="" class="callout__input grid">
            <input type="email" class="input input--primary" name="email" placeholder="email@example.com" required />
            <button href="#" class="btn btn--primary">Get Started for free</button>
        </form>
    </div>
</section>
