<section class="block block-hero container grid grid--1x2">
    <img src="images/illustration-1.svg" alt="" class="block-hero__image" />
    <div class="block-hero__content">
        <header class="block__header">
            <h2 class="block__heading">Heading</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, dolorum.</p>
        </header>
        <form action="" class="block-hero__input grid grid--1x2">
            <input type="email" class="input input--primary" name="email" placeholder="Enter your email..." required />
            <button href="#" class="btn btn--primary">Get Started</button>
        </form>
    </div>
</section>
